<div class="page">
  <div class="page-header">
    <h1 class="page-header-title">البيانات المرفوعة</h1>
    <button
      class="btn btn-primary"
      (click)="create()"
    >
      <i class="pi pi-plus"></i>
      <span>جديد</span>
    </button>
  </div>
  <div class="page-content">
    <p-card class="p-0">
      <!-- Filter Form -->
      <div class="mb-4">
        <form [formGroup]="inputForm" class="input-form">
          <!-- Date From Input -->
          <div class="form-field">
            <div class="field">
              <label for="dateFrom" class="field-label">من تاريخ</label>
              <p-calendar
                inputId="dateFrom"
                formControlName="dateFrom"
                dateFormat="dd/mm/yy"
                placeholder="اختر التاريخ"
                styleClass="w-full"
                [showIcon]="true"
                iconDisplay="input"
                readonlyInput
                inputStyleClass="cursor-pointer"
              />
            </div>
          </div>

          <!-- Date To Input -->
          <div class="form-field">
            <div class="field">
              <label for="dateTo" class="field-label">إلى تاريخ</label>
              <p-calendar
                inputId="dateTo"
                formControlName="dateTo"
                dateFormat="dd/mm/yy"
                placeholder="اختر التاريخ"
                styleClass="w-full"
                [showIcon]="true"
                iconDisplay="input"
                readonlyInput
                inputStyleClass="cursor-pointer"
              />
            </div>
          </div>
          <!-- Policy Number Input -->
          <div class="form-field">
            <div class="field">
              <label for="policyNumber" class="field-label">رقم البوليصة</label>
              <input
                pInput
                id="policyNumber"
                type="text"
                formControlName="policyNumber"
                placeholder="أدخل رقم البوليصة"
                class="w-full py-3"
              />
            </div>
          </div>

          <!-- Apply Button -->
          <div class="form-actions">
            <button
              pButton
              type="submit"
              class="btn btn-primary"
              size="large"
              label="تطبيق"
              [loading]="isLoading"
              (click)="onApplyFilter()"
            ></button>
          </div>
        </form>
      </div>
      <!-- Table -->
      <p-table
        [value]="data"
        [responsiveLayout]="'scroll'"
        styleClass="p-datatable-striped mt-10"
        [scrollable]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="company-name-cell">الشركة</th>
            <th>التاريخ</th>
            <th>رقم البوليصة</th>
            <th>الكمية</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td class="company-name-cell">{{ item?.company?.name || "غير معرف" }}</td>
            <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
            <td>{{ item.policyNumber || "-" }}</td>
            <td>{{ item.quantity || 0 }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="empty">
          <tr>
            <td colspan="3" class="text-center">لم يتم العثور على مستخدمين.</td>
          </tr>
        </ng-template>
      </p-table>
      <app-pagination
        [paginationConfig]="pagination"
        (onPageChange)="onPageChange($event)"
      />
    </p-card>
  </div>
</div>
