@import "../../../styles/variables";
:host {
  .input-form {
    display: grid;
    grid-template-columns: repeat(3, 4fr) 1fr;
  }
  .form-actions {
    align-items: last baseline;
    justify-content: flex-start;
    padding-top: 0px;
    margin-top: 0px;
    button {
      height: 2.6rem;
      font-size: $font-size-base;
      margin-bottom: 2px;
    }
  }
  .page-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ::ng-deep {
    .p-datatable .p-datatable-tbody > tr > td,
    .p-datatable .p-datatable-thead > tr > th {
      min-width: 130px;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    .input-form {
      grid-template-columns: 1fr;
      & > :nth-child(4) {
        grid-row: 4;
      }
    }
    .form-actions {
      button {
        width: 100%;
      }
    }
  }
}
