<div class="page">
  <div class="page-header form-header">
    <button class="btn btn-outline border-0" (click)="navigateBack()">
      <i class="pi pi-angle-right text-2xl"></i>
    </button>
    <h1 class="page-header-title">
      {{ editMode ? "تعديل" : "إنشاء" }} شركة
    </h1>
  </div>
  <div class="page-content">
    <p-card>
      <form [formGroup]="inputForm" class="input-form">
        <!-- Name Field -->
        <div class="form-field">
          <label for="name" class="field-label">الاسم</label>
          <input
            pInputText
            id="name"
            formControlName="name"
            class="w-full"
            placeholder="أدخل الاسم"
          />
          <!-- prettier-ignore -->
          @if (inputForm.get('name')?.invalid && inputForm.get('name')?.touched) {
          <small class="error-message">
            الاسم مطلوب (3-20 حرف)
          </small>
          }
        </div>
      </form>
      <div class="form-actions">
        <button
          pButton
          type="submit"
          class="btn btn-primary"
          size="large"
          label="حفظ"
          [loading]="isLoading"
          (click)="onSaveClick()"
        ></button>
      </div>
    </p-card>
  </div>
</div>
