<div class="page">
  <div class="page-header form-header">
    <button class="btn btn-outline border-0" (click)="navigateBack()">
      <i class="pi pi-angle-right text-2xl"></i>
    </button>
    <h1 class="page-header-title">
      {{ editMode ? "تعديل" : "إنشاء" }} مستخدم
    </h1>
  </div>
  <div class="page-content">
    <p-card>
      <form [formGroup]="inputForm" class="input-form">
        <!-- Username Field -->
        <div class="form-field">
          <label for="username" class="field-label">اسم المستخدم</label>
          <input
            pInputText
            id="username"
            formControlName="username"
            class="w-full"
            placeholder="أدخل اسم المستخدم"
          />
          <!-- prettier-ignore -->
          @if (inputForm.get('username')?.invalid && inputForm.get('username')?.touched) {
          <small class="error-message">
            اسم المستخدم مطلوب (3-20 حرف)
          </small>
          }
        </div>

        <!-- Password Field -->
        <div class="form-field field-suffix-container">
          <label for="password" class="field-label">كلمة المرور</label>
          <div>
            <p-password
              id="password"
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
              placeholder="أدخل كلمة المرور"
            />
          </div>
          <!-- prettier-ignore -->
          @if(inputForm.get('password')?.invalid && inputForm.get('password')?.touched) {
          <small class="error-message">
            كلمة المرور مطلوبة (6-20 حرف)
          </small>
          }
        </div>

        <!-- Role Field -->
        <div class="form-field">
          <label for="role" class="field-label">الدور</label>
          <div class="field-suffix-container">
            <p-dropdown
              class="w-full"
              id="role"
              formControlName="role"
              [options]="systemRoles"
              optionValue="value"
              optionLabel="label"
              placeholder="اختر دور"
            />
          </div>
        </div>

        <!-- Company Field -->
        <!-- prettier-ignore -->
        @if(inputForm.get('role')?.value === ROLES_ENUM.EMPLOYEE && companies.length) {
        <div class="form-field">
          <label for="company" class="field-label">الشركة</label>
          <div class="field-suffix-container">
            <p-dropdown
              class="w-full"
              id="company"
              formControlName="companyId"
              [options]="companies"
              optionLabel="name"
              optionValue="id"
              [showClear]="true"
              placeholder="اختر شركة"
              [filter]="true"
            />
          </div>
          @if(inputForm.get('companyId')?.invalid &&
          inputForm.get('companyId')?.touched) {
          <small class="error-message"> الشركة مطلوبة </small>
          }
        </div>
        }
      </form>
      <div class="form-actions">
        <button
          pButton
          type="submit"
          class="btn btn-primary"
          size="large"
          label="حفظ"
          [loading]="isLoading"
          (click)="onSaveClick()"
        ></button>
      </div>
    </p-card>
  </div>
</div>
