<div class="page">
  <div class="page-header">
    <button class="btn btn-outline border-0" (click)="navigateBack()">
      <i class="pi pi-angle-left text-2xl"></i>
    </button>
    <h1 class="page-header-title">Upload Payload</h1>
  </div>
</div>
<div class="page-content">
  <p-card>
    <form [formGroup]="inputForm" class="input-form">
      <!-- Quantity Field -->
      <div class="form-field">
        <label for="qnt" class="field-label">Quantity</label>
        <input
          type="number"
          pInputNumber
          id="qnt"
          formControlName="qnt"
          class="w-full"
          placeholder="Enter quantity"
        />
        <!-- prettier-ignore -->
        @if (inputForm.get('qnt')?.invalid && inputForm.get('qnt')?.touched) {
        <small class="error-message">
          Quantity is required, must be at least 1
        </small>
        }
      </div>
      <!-- QR Code Scanner -->
      <div class="form-field">
        <div class="flex flex-col md:flex-row gap-3">
          <div class="w-1/2">
            <label for="qrCode" class="field-label">Scan Policy No</label>
            <ngx-scanner-qrcode
              [config]="qrCodeConfig"
              #action="scanner"
              (event)="onScan($event)"
              class="w-[400px] rounded-xl overflow-hidden"
            />
            <button
              pButton
              type="button"
              class="btn btn-primary mt-3"
              size="large"
              [label]="action.isStart ? 'Stop' : 'Start'"
              [loading]="isLoading"
              (click)="action.isStart ? action.stop() : action.start()"
            ></button>
          </div>
          <div class="w-1/2">
            <div class="form-field">
              <label for="policyNo" class="field-label">Policy No:</label>
              <input
                id="policyNo"
                formControlName="policyNo"
                class="w-full"
                placeholder="Enter Policy No"
              />
              <!-- prettier-ignore -->
              @if (inputForm.get('policyNo')?.invalid && inputForm.get('policyNo')?.touched) {
              <small class="error-message">
                Policy No is required, must be at least 1
              </small>
              }
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="form-actions">
      <button
        pButton
        type="submit"
        class="btn btn-primary"
        size="large"
        label="Save"
        [loading]="isLoading"
        (click)="onSaveClick()"
      ></button>
    </div>
  </p-card>
</div>
