<div class="page">
  <div class="page-header">
    <h1 class="page-header-title">إضافة بيانات حمولة</h1>
    <button class="btn btn-primary" (click)="navigateBack()">
      قائمة الحمولات
    </button>
  </div>
</div>
<div class="page-content">
  <p-card>
    <form [formGroup]="inputForm" class="input-form">
      <!-- Quantity Field -->
      <div class="form-field">
        <label for="quantity" class="field-label">الكمية</label>
        <input
          type="number"
          pInputNumber
          id="quantity"
          formControlName="quantity"
          class="w-full"
          placeholder="أدخل الكمية"
        />
        <!-- prettier-ignore -->
        @if (inputForm.get('quantity')?.invalid && inputForm.get('quantity')?.touched) {
        <small class="error-message">
          الكمية مطلوبة، يجب أن تكون على الأقل 1
        </small>
        }
      </div>
      <div class="form-field">
        <label for="shippingName" class="field-label">شركة الشحن</label>
        <input
          pInputNumber
          id="shippingName"
          formControlName="shippingName"
          class="w-full"
          placeholder="أدخل شركة الشحن"
        />
      </div>
      <!-- QR Code Scanner -->
      <div class="form-field">
        <div>
          <label for="qrCode" class="field-label">مسح رقم البوليصة</label>
          @if(showCameraDevicesDropDown) {
          <div class="field-suffix-container">
            <p-dropdown
              class="w-full py-[8px]"
              id="role"
              [formControl]="selectedCamera"
              [options]="cameraDevices"
              optionValue="id"
              optionLabel="label"
              placeholder="برجاء اختيار الكاميرا لبدء المسح"
            />
          </div>
          }
          <div>
            <!-- QR Code Scanner wrapper-->
            <div id="reader" class="reader-scanner-wrapper rounded-lg"></div>
            <!-- prettier-ignore -->
            @if (inputForm.get('image')?.invalid && inputForm.get('image')?.touched) {
              <!-- QR Code Scanner Error-->
            <small class="error-message block">لم يتم مسح رقم البوليصة. </small>
            }
            
            <!-- Scanner action button -->
            <button
              pButton
              type="submit"
              class="btn btn-primary mt-2"
              size="large"
              [label]="getScannerLabel()"
              (click)="getScannerAction()"
            ></button>
          </div>
        </div>
      </div>
      <div class="form-field">
        <div>
          <div class="form-field">
            <label for="policyNumber" class="field-label">رقم البوليصة:</label>
            <div class="input-wrapper">
              <input
                id="policyNumber"
                formControlName="policyNumber"
                class="input-with-suffix"
                placeholder="أدخل رقم البوليصة"
              />
              <!-- <button
                type="button"
                class="suffix-button"
                (click)="onEditPolicyNo()"
              >
                <i class="pi pi-pencil"></i>
              </button> -->
            </div>
            <!-- prettier-ignore -->
            @if (inputForm.get('image')?.invalid && inputForm.get('image')?.touched) {
            <small class="error-message"> رقم البوليصة مطلوب. </small>
            }
          </div>
        </div>
      </div>
    </form>

    <div class="form-actions">
      <button
        pButton
        type="submit"
        class="btn btn-primary"
        size="large"
        label="حفظ"
        [loading]="isLoading"
        (click)="onSaveClick()"
      ></button>
    </div>
  </p-card>
</div>
