<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="PKI Validation Direct" stopProcessing="true">
                    <match url="^\.well-known/pki-validation/.*\.txt$" />
                    <action type="None" />
                </rule>
                <rule name="Well-known folder" stopProcessing="true">
                    <match url="^\.well-known/.*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_METHOD}" pattern="GET" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Well-known folder alternative" stopProcessing="true">
                    <match url="^well-known/.*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_METHOD}" pattern="GET" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Images folder" stopProcessing="true">
                    <match url="^images/.*" />
                    <action type="None" />
                </rule>
                <rule name="Angular Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/\.well-known/" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/well-known/" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>