<div class="page">
  <div class="page-header">
    <h1 class="page-header-title">Projects</h1>
    <button class="btn btn-primary" (click)="create()" *appAccessControl="[SystemRoles.ADMIN]">
      <i class="pi pi-plus"></i>
      <span>New</span>
    </button>
  </div>

  <div class="page-content">
    <p-card class="px-0">
      <p-table
        [value]="data"
        [responsiveLayout]="'scroll'"
        styleClass="p-datatable-striped"
        [scrollable]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th pFrozenColumn *appAccessControl="[SystemRoles.ADMIN]">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td pFrozenColumn *appAccessControl="[SystemRoles.ADMIN]">
              <div class="flex gap-10">
                <button
                  class="btn btn-outline border-0"
                  (click)="view(item.id)"
                >
                  <i class="pi pi-eye ca-text-muted ca-font-bold"></i>
                </button>
                <button
                  class="btn btn-outline border-0"
                  (click)="edit(item.id)"
                >
                  <i class="pi pi-pencil ca-text-info ca-font-bold"></i>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="empty">
          <tr>
            <td colspan="3" class="text-center">No users found.</td>
          </tr>
        </ng-template>
      </p-table>
      <app-pagination
        [paginationConfig]="pagination"
        (onPageChange)="onPageChange($event)"
      />
    </p-card>
  </div>
</div>
